#root {
  width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh; /* Ensure the App covers the full viewport height */
}

.cursor {
  position: absolute;
  pointer-events: none;
  font-size: 24px;
  color: #ffff66;
  z-index: 1000;
}

.content {
  position: relative;
  z-index: 10;
}

/* Parallax Layers */
.parallax-layer {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; /* Ensure the parallax layers cover the full viewport height */
}

/* Adjust background size to fit the screen width */
.parallax-layer {
  background-size: 150% auto; /* Adjust as needed */
}
